<h1>StaticPages#routes</h1>
<p>Find me in app/views/static_pages/routes.html.erb</p>


<h2>General Information About Routes</h2>
<p>
<%=Faker::Lorem.paragraph%>
<%=Faker::Lorem.paragraph%>
<%=Faker::Lorem.paragraph%>
<%=Faker::Lorem.paragraph%>

<h2>Super Fun Route</h2>

<h1>INSERT PHOTO REEL HERE!!!</h2>
<p>
Pricing and Estimated Time
</p>

<p>
<%=Faker::Lorem.paragraph%>
<%=Faker::Lorem.paragraph%>
<%=Faker::Lorem.paragraph%>
<%=Faker::Lorem.paragraph%>
</p>
